nav {
    border-bottom: 2px solid black;
}

#logo-nav {
    width: 50px;
    height: auto;
    margin: 0 auto;
}

#refreshCaptcha {
    background-color: green;
    color: white;

    padding: 1px 8px;
    font-size: 20px;
}

@media (max-width: 568px) {
    #captcha {
        justify-content: center;
    }
}